p{
  color: lavenderblush;font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
    color: rgb(164,194, 221);
}

h2{
    color: rgb(164, 194, 221);
}
h3{
    color: rgb(164, 194, 221);
}
a{
    color: rgb(185, 186, 189);
}